html,body{
    height: 100%;
    width: 100%;
}

body{
    background-size: 100%, 100%;
}
.container{
    display: inline-block;
    height: 100%;
    width: 50%;
}
.container div{
    display: flex;
    margin-left: 0px;
    width: 40%;
    height: 20%;
    justify-content:center;
    align-items:center;
}

.container button{
    margin-right: 0px;
    width: 80%;
    height: 50%;
    font-size:2vw;
    border-width: 0px; /* 边框宽度 */
    border-radius: 3px; /* 边框半径 */
    /*background: #1E90FF; !* 背景颜色 *!*/
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei;/* 设置字体 */
    border-radius:15px;
    word-break:keep-all;
    white-space:nowrap;
}

.parent{
    height: 100%;
    width: 100%;
}

.display{
    display: inline-block;
    position: absolute;
    top:20%;
    height: 100%;
    width: 45%;
}

.display textarea{
    width: 80%;
    height: 60%;
    margin-right: 0px;
    font-size:1vw;
}
