<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <!--    <script type="text/javascript" src="/static/js/thymeleaf.js" th:src="@{/static/js/thymeleaf.js}"></script>-->
    <script>
        testFunction();
    </script>
</head>

<body th:style="'background-image: url(/img/starve.jpg)'">

<div class="parent">
    <div class="container">
        <div>
            <button th:onclick="startServer()">开服</button>
        </div>
        <div>
            <button th:onclick="shutdownServer()">关服</button>
        </div>
        <div>
            <button th:onclick="downloadMods()">下载mod</button>
        </div>
    </div>
    <div class="display">
        <textarea id="text"></textarea>
    </div>
</div>
<!--<form method="POST" th:action="@{/starve/echo}">
    <input type="text" name="name" id="nameId"/>
    <button type="submit" name="submit" value="value" class="button">发起普通post请求</button>
</form>-->

</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script>
    function startServer(){
        $.ajax({
            url:"/starve/startServer",
            type:"POST",
            // data:JSON.stringify(product),
            contentType: "application/json;charset=UTF-8",
            accept : "*/*",
            success : function () {
                console.log("startServer");
            }
        });
    }

    function shutdownServer() {
        $.ajax({
            url:"/starve/shutdownServer",
            type:"POST",
            // data:JSON.stringify(product),
            contentType: "application/json;charset=UTF-8",
            accept : "*/*",
            success : function () {
                console.log("shutdownServer");
            }
        });
    }
</script>
<script>
    var myFunc = function(){
        $.ajax({
            url:"/starve/getConsole",
            type:"POST",
            data:String,
            contentType: "application/json;charset=UTF-8",
            accept : "*/*",
            success : function (res) {
                console.log(res);
                document.getElementById('text').innerHTML += res;
            }
        });
        var obj = document.getElementById('text');
        obj.scrollTop = obj.scrollHeight;
    }
    setInterval(myFunc,1000)
</script>

</html>
