<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" media="all" href="/templates/css/style.css" th:href="@{/templates/css/style.css}"/>
<!--    <script type="text/javascript" src="/static/js/thymeleaf.js" th:src="@{/static/js/thymeleaf.js}"></script>-->
    <script>
        testFunction();
    </script>
</head>

<body>

    <div class="parent">
        <div class="container">
            <div>
                <button>按钮1</button>
            </div>
            <div>
                <button>按钮2</button>
            </div>
            <div>
                <button>按钮3</button>
            </div>
        </div>
    </div>
    <!--<form method="POST" th:action="@{/starve/echo}">
        <input type="text" name="name" id="nameId"/>
        <button type="submit" name="submit" value="value" class="button">发起普通post请求</button>
    </form>-->

<script>

</script>

</body>

</html>
